/*TODO    V A R I A B L E S    */
*{
    --color-principal: #65C400;
    --color-secundario: #DDDEDC;
    --color-principalGlass: #65c4005b;
    --color-secundarioGlass: #dddedccc;
    --color-texto: #383838;
    --color-textoGlass: #383838a9;
    --color-border: #dee2e6;
}


/*TODO    F O R M A T E O    */
html{
	box-sizing: border-box;
	font-size: 16px;
}

*,
::after,
::before{
	box-sizing: inherit;
}
body{
    
	margin: 0 auto;
	padding: 0;
	width: 100%;
	min-height: 100vh;
	background: var(--color-texto);
    background-color: #65C400;
	text-rendering: optimizeSpeed;
	scroll-behavior: smooth;
	-webkit-text-size-adjust: 100%;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
p{
    margin: 0;
}
.wrapper{
    width: clamp(320px,100%,768px);
}
.btn_navegacion{
    background-color:var(--color-principal);
    background-color: #383838;
    color: var(--color-secundario);
}
/*TODO    H E A D E R    */
.wrapper_header{
	width: 100%;
    height: 70px;
}
.wrapper_header .header{
    position: fixed;
	top:0;
	z-index: 999;
    height: 70px;
    background-color: darkviolet;
}
.wrapper_header .navbar .container-fluid{
    background-color: var(--color-secundario);
}
.wrapper_header .navbar .container-fluid button{
    background-color: transparent;
}
.wrapper_header .navbar-brand img{
    width: 60px;
    height: 60px;
}


/*TODO    F O R M    R E G I S T R O    */
.form_registro{
    width: 90%;
    height: calc(100vh - 70px);
}
.form_registro .card_datos{
    height: 300px;
    background: var(--color-secundarioGlass);
    box-shadow: 0 8px 32px 0 var(--color-secundario);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}


/*TODO    F O R M    S E G U R I D A D    */
.form_seguridad{
    width: 90%;
    height: 100vh;
}
.card_seguridad{
    min-height: 480px;
    background: var(--color-secundarioGlass);
    box-shadow: 0 8px 32px 0 var(--color-secundario);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/*TODO    F O R M    L U C E S    */
.form_luces{
    width: 90%;
    height: 100vh;
    background-color: rgb(160, 30, 21);
}

/*TODO    F O R M    N E U M Á T I C O S    */
.form_neumaticos{
    width: 90%;
    height: 100vh;
    background-color: rgb(25, 101, 199);
}

/*TODO    F O R M    N I V E L E S    */
.form_niveles{
    width: 90%;
    height: 100vh;
    background-color: rgb(34, 126, 34);
}

/*TODO    F O R M    C A R R O C E R Í A    */
.form_carroceria{
    width: 90%;
    height: 100vh;
    background-color: rgb(190, 48, 5);
}

/*TODO    F O R M    O T R O S    */
.form_otros{
    width: 90%;
    height: 100vh;
    background-color: rgb(46, 139, 88);
}

/*TODO     A U T E N T I C A C I Ó N      */
.wrapperLogin{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secundario);
}
.wrapperLogin .form-label{
    font-style: "Montserrat";
    font-weight: 600;
    color: var(--color-texto);
}
.login{
    margin: 0 auto;
    min-width: 360px;
    width: 50vw;
    max-width: 400px;
    height: 600px;
    gap: 3rem;
}

.logo_login{
    width: clamp(30%, 80px, 450px);
    height: 20%;
}
.form_login{
    padding: .8rem;
    width: 80%;
    max-width: 380px;
    height: 50%;
    border-radius: 15px;
    background-color:  var(--color-principal);
}
.textarea_display{
    display: none;
}
/*TODO     D O C    P D F     */
/*? *-*-*  Header PDF *-*-*-*/
.pdf_title{
    font-size: 14px;
    text-decoration: underline;
}
.pdf_header{
    height: 80px;
}
.pdf_header img{
    width: 70%;
    height: 98%;
}
.pdf_header .km{
    height: 40%;
}
.pdf_header .km + div{
    height: 60%;
}
.pdf_header .km p{
    font-size: .8rem;
    font-weight: 600;
}
.pdf_header .km_info,
.pdf_header .km_valor{
    font-size: .7rem;
    font-weight: 500;
}
.pdf_header .km_info{
    width: 60%;
    border-right: 2px solid var(--color-border);

}
.pdf_header .km_valor{
    width: 40%;
}
.pdf_header .titulo{
    font-size: 1.2rem;
    font-weight: 700;
}

/*? *-*-*  Data Camión  PDF *-*-*-*/
.pdf_dataCamion p:first-child{
    margin-right: 8px;
    font-size: .8rem;
    font-weight: 600;
}
.pdf_dataCamion p:last-child{
    font-size: .8rem;
}

/*? *-*-*  Seguridad  PDF *-*-*-*/
.pdf_row1{
    min-height: 243px;
}
.pdf_row1 .pdf_card_main{
    min-height: 173px;
}
.pdf_row2{
    min-height: 184px;
}
.pdf_row2 .pdf_card_main{
    min-height: 116px;
}
.pdf_row3{
    min-height: 203px;
}
.pdf_row3 .pdf_card_main{
    min-height: 135px;
}
.pdf_card_header p{
    font-size: .8rem;
    font-weight: 700;
    text-align: center;
    text-align: start;
    
}
.pdf_card_header p:first-child{
    width: 70%;
    border-right: 2px solid var(--color-border);
}
.pdf_card_header p:last-child{
    width: 30%;
}
.pdf_card_main div:first-child{
    width: 70%;
}
.pdf_card_main div:last-child{
    width: 30%;
}
.pdf_card_main p,
.pdf_card_footer p{
    font-size: .8rem;
}


